.main-container {
  display: inline-block;
}

.section {
  display: inline-table;
  padding: 20px;
  margin: 10px;
  width: 550px;
  min-height: 200px;
  border-radius: 10px;
  background: #e0e0e0;
}

.input-section {
  margin-top: 10px;
}


.question-section {
  font-size: 20px;
  color: "#1b14d8"
}

.output-section {
  background: #717070;
  display: inline-block;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.output-section:empty
{
    display:none;
}

button {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  background: #32a5cc;
  margin-left: 10px;
}

label {
  padding: 10px;
}
